@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import 'tailwindcss';

@theme {
  --font-outfit: 'Outfit', 'sans-serif';
  --font-figtree: 'FigTree', 'sans-serif';
  --font-youngserif: 'Young Serif', 'sans-serif';
}

html,
body {
  height: 100%;
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
